.homepage {
  margin: 2rem 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.main-col,
.right-col {
  display: flex;
  flex-direction: column;
  gap: 1rem; /* optional spacing between sections */
}

.main-col section,
.right-col section {
  width: 100%;
  box-sizing: border-box;
}

.main-col {
  flex: 5;
}

.right-col {
  flex: 3;
}


.welcome {
  text-align: center;
  padding: 1rem 2rem 3rem 2rem;
  margin-top: 3rem;
}

.welcome h1 {
  font-size: 2.5rem;
}

.welcome p {
  font-size: 1.25rem;
  max-width: 600px;
  margin: 1rem auto;
}

.caution {
  background-color: #f3df26;
  border-top: 10px dashed black;
  border-bottom: 10px dashed black;
  max-width: 500px;
  white-space: nowrap;
  overflow: hidden;
  margin: auto;
}

.caution h1 {
  margin: 0px;
  margin-left: -20px;
  padding: 0px;
}

.dutchie {
  position: relative; /* anchor for absolute children */
}

.dutchie-speak {
  position: absolute;
  top: 70px;
  left: 350px;
  z-index: 10;
}

.fancy-text span {
  display: inline-block;
  margin: 0px 2px;
  font-size: 30px;

  text-shadow:
    0 0 2px #8eecff,
    0 0 5px #8eecff,
    0 0 10px #8eecff,
    0 0 20px #8eecff;    
}
.fancy-text span:nth-child(odd) {
  transform: translateY(2px);
}
.fancy-text span:nth-child(even) {
  transform: translateY(-2px);
}

.clickable-dutchie {
  display: block;
  cursor: pointer;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
  max-width: 500px;
  margin: 20px;
}


.socials-bar {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin: 30px;
}
.socials-bar img {
  min-width: 40px;
}

