.navbar {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: .5rem 2rem;

  font-weight: bolder;
  font-size: 20px;
  color: #000000;

}

.navbar ul {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  align-items: flex-end;
}

.nav-title {
  font-size: 30px;
}

.navbar a {
  font-weight: bold;
}