#root {
  max-width: 80vw;
  margin: 1rem auto;
  padding: 2rem;
  text-align: center;

  /* display: flex;
  flex-wrap: wrap;
  padding: 5px;
  gap: 5px; */
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
