@font-face {
  font-family: 'VT323-Regular';
  src: url('/src/assets/fonts/VT323-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'VT323-Regular', monospace;
  background: #CEF6FE;
  color: #222;
}

a {
  text-decoration: none;
  color: inherit;
}

.cloud {
  padding: 1rem;
  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: 5px 5px 0px 1px rgba(0,0,0,0.2);
}


.accept-button {
  appearance: button;
  background-color: #1899D6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: 'VT323-Regular', monospace;
  font-size: 20px;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
}
.accept-button:after {
  background-clip: padding-box;
  background-color: #43c2fd;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}
.accept-button,
.accept-button:focus {
  user-select: auto;
}
.accept-button:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}
.accept-button:disabled {
  cursor: auto;
}
.accept-button:active {
  border-width: 4px 0 0;
  background: none;
}