@font-face {
  font-family: 'VT323-Regular';
  src: url('/src/assets/fonts/VT323-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  /* font-family: system-ui, sans-serif; */
  /* font-family: 'VT323-Regular', monospace; */
  font-family: 'VT323-Regular';
  background: #CEF6FE;
  color: #222;
}

a {
  text-decoration: none;
  color: inherit;
}

.cloud {
  
  /* border: 4px solid #3a8c9c; */
  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: 5px 5px 0px 1px rgba(0,0,0,0.2);
}

